{{> header }}
<style>
    .custom-file-label::after {
        content: ""
    }
</style>
<main>
    <div class="container-fluid">

        <section class="section team-section">

            <div class="row mb-1">
                <div class="col-md-12">
                    <h4 class="h4-responsive mt-1"><a
                            href="/painel/documentacao/{{documentacao.id}}">{{documentacao.modeloProcessoNegocio}}</a>
                        / {{#if
                                atividade.nome}}{{atividade.nome}}{{else}}
                            Nova Atividade{{/if}}</h4>
                </div>
            </div>

            <div class="row text-center text-md-left">

                <div class="col-12 my-3">

                    <div class="classic-tabs">

                        <form class="text-center" style="color: #757575;"
                              action="/painel/documentacao/{{documentacao.id}}/atividade"
                              method="POST">
                            <div class="tabs-wrapper">


                                <ul class="nav tabs-primary" role="tablist">

                                    <li class="nav-item">
                                        <a class="nav-link active waves-light waves-effect waves-light"
                                           data-toggle="tab"
                                           href="#atividade" role="tab"><i
                                                class="fas fa-chart-line fa-2x" aria-hidden="true"></i><br>
                                            Atividade</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab"
                                           href="#links" role="tab"><i
                                                class="fas fa-link fa-2x" aria-hidden="true"></i><br>
                                            Links</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab"
                                           href="#endpoints" role="tab"><i
                                                class="fas fa-globe-americas fa-2x" aria-hidden="true"></i><br>
                                            Endpoints</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab"
                                           href="#componentes" role="tab"><i
                                                class="fas fa-network-wired fa-2x" aria-hidden="true"></i><br>
                                            Componentes</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab"
                                           href="#seguranca" role="tab"><i
                                                class="fas fa-shield-alt fa-2x" aria-hidden="true"></i><br>
                                            Segurança</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab"
                                           href="#guia_bordo" role="tab"><i
                                                class="fas fa-book-open fa-2x" aria-hidden="true"></i><br>
                                            Guia de Bordo</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab"
                                           href="#contato" role="tab"><i
                                                class="fas fa-id-card fa-2x" aria-hidden="true"></i><br>
                                            Contato/Plantão</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab"
                                           href="#roteiro" role="tab"><i
                                                class="fas fa-scroll fa-2x" aria-hidden="true"></i><br>
                                            Roteiro de Plantão</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab"
                                           href="#faq" role="tab"><i
                                                class="fas fa-question fa-2x" aria-hidden="true"></i><br>
                                            FAQ</a>
                                    </li>

                                </ul>
                            </div>

                            <div class="tab-content card">
                                <div class="tab-pane fade in show active" id="atividade" role="tabpanel">

                                    <div class="row">

                                        <div class="col">

                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="md-form">
                                                        <label for="nome">Nome da Atividade</label>
                                                        <input class="form-control" id="nome"
                                                               name="nome"
                                                               type="text"
                                                               value="{{atividade.nome}}"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="tab-pane fade" id="links" role="tabpanel">

                                    <p class="h4 pb-4">Links para repositório </p>

                                    <div class="form-row">
                                        <div class="col">
                                            <div class="md-form">
                                                <label for="link">Link *</label>
                                                <input class="form-control" id="link" name="link" required type="text"
                                                       value="{{atividade.link}}">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-row">
                                        <div class="col">
                                            <div class="md-form">
                                        <textarea class="md-textarea form-control" id="descricaoLink"
                                                  name="descricaoLink"
                                                  rows="3">{{atividade.descricaoLink}}</textarea>
                                                <label for="descricaoLink">Descrição do Link</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="endpoints" role="tabpanel">


                                    <p class="h4 pb-4">Lista de Solicitações / Endpoints / Dependências
                                        <button type="button"
                                                class="btn btn-link btn-success btn-sm p-2"
                                                onclick="adicionarEndpoint();">+
                                            Adicionar
                                        </button>
                                    </p>

                                    <div class="row pb-4">
                                        <div class="col-12">
                                            <div class="card-deck" id="endpoints">
                                                {{#each atividade.endPoints}}
                                                    <div class="card col-md-4 endpoint" id="{{@key}}">
                                                        <a class="btn-floating btn-action mdb-color btn-danger"><i
                                                                class="fas fa-times"></i></a>
                                                        <div class="card-body">
                                                            <h4 class="card-title py-2" id="endpoint1Title"><a></a></h4>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                        <label for="nomeEndpoint1">Nome</label>
                                                                        <input class="form-control nomeEndpoint"
                                                                               id="nomeEndpoint1"
                                                                               name="endPoints[endpoint1][nomeEndpoint]"
                                                                               required
                                                                               type="text"
                                                                               value="{{this.nomeEndpoint}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                        <label for="descricaoEndpoint1">Descrição</label>
                                                                        <input class="form-control"
                                                                               id="descricaoEndpoint1"
                                                                               name="endPoints[endpoint1][descricaoEndpoint]"
                                                                               type="text"
                                                                               value="{{this.descricaoEndpoint}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                <textarea class="md-textarea form-control"
                                                                          id="respostasEndpoint1"
                                                                          name="endPoints[endpoint1][respostasEndpoint]"
                                                                          rows="3">{{this.respostasEndpoint}}</textarea>
                                                                        <label for="respostasEndpoint1">Respostas</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                <textarea class="md-textarea form-control"
                                                                          id="dependenciasEndpoint1"
                                                                          name="endPoints[endpoint1][dependenciasEndpoint]"
                                                                          rows="3">{{this.dependenciasEndpoint}}</textarea>
                                                                        <label for="dependenciasEndpoint1">Dependências</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{else}}
                                                    <div class="card col-md-4 endpoint" id="endpoint1">
                                                        <a class="btn-floating btn-action mdb-color btn-danger"><i
                                                                class="fas fa-times"></i></a>
                                                        <div class="card-body">
                                                            <h4 class="card-title py-2" id="endpoint1Title"><a></a></h4>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                        <label for="nomeEndpoint1">Nome *</label>
                                                                        <input class="form-control nomeEndpoint"
                                                                               id="nomeEndpoint1"
                                                                               name="endPoints[endpoint1][nomeEndpoint]"
                                                                               required
                                                                               type="text">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                        <label for="descricaoEndpoint1">Descrição
                                                                            *</label>
                                                                        <input class="form-control"
                                                                               id="descricaoEndpoint1"
                                                                               name="endPoints[endpoint1][descricaoEndpoint]"
                                                                               required type="text">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                <textarea class="md-textarea form-control"
                                                                          id="respostasEndpoint1"
                                                                          name="endPoints[endpoint1][respostasEndpoint]"
                                                                          required rows="3"></textarea>
                                                                        <label for="respostasEndpoint1">Respostas
                                                                            *</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                <textarea class="md-textarea form-control"
                                                                          id="dependenciasEndpoint1"
                                                                          name="endPoints[endpoint1][dependenciasEndpoint]"
                                                                          required rows="3"></textarea>
                                                                        <label for="dependenciasEndpoint1">Dependências
                                                                            *</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="componentes" role="tabpanel">

                                    <p class="h4 pb-4">Componentes
                                        <button type="button" onclick="adicionarComponente()"
                                                class="btn btn btn-link btn-success btn-sm p-2">+
                                            Adicionar
                                        </button>
                                    </p>

                                    <div class="row pb-4">
                                        <div class="col-12">
                                            <div class="card-deck" id="componentes">
                                                <div class="card col-md-4 componente" id="componente1">
                                                    <a class="btn-floating btn-action mdb-color btn-danger"><i
                                                            class="fas fa-times"></i></a>
                                                    <div class="card-body">
                                                        <h4 class="card-title py-2" id="componente1Title"><a></a></h4>
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <div class="md-form">
                                                                    <label for="nomeComponente1">Nome</label>
                                                                    <input class="form-control" id="nomeComponente1"
                                                                           name="componentes[componente1][nomeComponente]"
                                                                           type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <div class="md-form">
                                                            <textarea class="md-textarea form-control"
                                                                      id="atributosComponente1"
                                                                      name="componentes[componente1][atributosComponente]"
                                                                      rows="3"></textarea>
                                                                    <label for="atributosComponente1">Atributos</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <div class="md-form">
                                                            <textarea class="md-textarea form-control"
                                                                      id="requeridosComponente1"
                                                                      name="componentes[componente1][requeridosComponente]"
                                                                      rows="3"></textarea>
                                                                    <label for="requeridosComponente1">Requeridos</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="seguranca" role="tabpanel">

                                    <p class="h4 pb-4">Segurança dos Dados</p>

                                    <div class="form-row">
                                        <div class="col-md-4">
                                            <div class="md-form">
                                                <label for="tipoSeguranca">Tipo</label>
                                                <input class="form-control" id="tipoSeguranca" name="tipoSeguranca"
                                                       type="text"
                                                       value="{{atividade.tipoSeguranca}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-4">
                                            <div class="md-form">
                                                <label for="senhaSeguranca">Senha</label>
                                                <input class="form-control" id="senhaSeguranca"
                                                       name="senhaSeguranca"
                                                       type="text" value="{{atividade.senhaSeguranca}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="md-form">
                                                <label for="linkSeguranca">Link</label>
                                                <input class="form-control" id="linkSeguranca"
                                                       name="linkSeguranca"
                                                       type="text"
                                                       value="{{atividade.linkSeguranca}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="md-form">
                                                <label for="permissaoSeguranca">Permissão</label>
                                                <input class="form-control" id="permissaoSeguranca"
                                                       name="permissaoSeguranca"
                                                       type="text" value="{{atividade.permissaoSeguranca}}">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="guia_bordo" role="tabpanel">

                                    <p class="h4 pb-4">Guia de bordo e Desenvolvimento</p>


                                    <div class="form-row">
                                        <div class="col-12 col-md-4">
                                            <div class="md-form">
                                            <textarea class="md-textarea form-control" id="configuracaoDesenvolvimento"
                                                      name="configuracaoDesenvolvimento"
                                                      rows="4">{{atividade.configuracaoDesenvolvimento}}</textarea>
                                                <label for="configuracaoDesenvolvimento">Configuração do serviço
                                                    e
                                                    ambiente</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="md-form">
                                            <textarea class="md-textarea form-control" id="inicializacaoDesenvolvimento"
                                                      name="inicializacaoDesenvolvimento"
                                                      rows="4">{{atividade.inicializacaoDesenvolvimento}}</textarea>
                                                <label for="inicializacaoDesenvolvimento">Inicialização e
                                                    Funcionamento</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="md-form">
                                            <textarea class="md-textarea form-control" id="cicloDesenvolvimento"
                                                      name="cicloDesenvolvimento"
                                                      rows="4">{{atividade.permissaoSeguranca}}</textarea>
                                                <label for="cicloDesenvolvimento">Ciclo de
                                                    Desenvolvimento</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="contato" role="tabpanel">
                                    <p class="h4 pb-4">Informações de Contato e Plantão
                                        <button type="button"
                                                onclick="adicionarContato()"
                                                class="btn btn btn-link btn-success btn-sm p-2">+
                                            Adicionar
                                        </button>
                                    </p>

                                    <div class="row pb-4">
                                        <div class="col-12">
                                            <div class="card-deck" id="contatos">
                                                {{#each atividade.contatos}}
                                                    <div class="card col-md-4 componente" id="{{@key}}">
                                                        <a class="btn-floating btn-action mdb-color btn-danger"><i
                                                                class="fas fa-times"></i></a>
                                                        <div class="card-body">
                                                            <h4 class="card-title py-2" id="contato1Title">
                                                                <a></a></h4>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                        <label for="nomeContato1">Nome *</label>
                                                                        <input class="form-control"
                                                                               id="nomeContato1"
                                                                               name="contatos[contato1][nomeContato]"
                                                                               type="text"
                                                                               value="{{this.nomeContato}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                        <label for="cargoContato1">Cargo
                                                                            *</label>
                                                                        <input class="form-control"
                                                                               id="cargoContato1"
                                                                               name="contatos[contato1][cargoContato]"
                                                                               type="text"
                                                                               value="{{this.cargoContato}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                        <label for="telefoneContato1">Telefone
                                                                            *</label>
                                                                        <input class="form-control"
                                                                               id="telefoneContato1"
                                                                               name="contatos[contato1][telefoneContato]"
                                                                               type="text"
                                                                               value="{{this.telefoneContato}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                        <label for="turnoContato1">Turno
                                                                            *</label>
                                                                        <input class="form-control"
                                                                               id="turnoContato1"
                                                                               name="contatos[contato1][turnoContato]"
                                                                               type="text"
                                                                               value="{{this.turnoContato}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                <textarea class="md-textarea form-control"
                                                                          id="horarioContato1"
                                                                          name="contatos[contato1][horarioContato]"
                                                                          rows="3">{{this.horarioContato}}</textarea>
                                                                        <label for="horarioContato1">Horário
                                                                            *</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{else}}
                                                    <div class="card col-md-4 componente" id="contato1">
                                                        <a class="btn-floating btn-action mdb-color btn-danger"><i
                                                                class="fas fa-times"></i></a>
                                                        <div class="card-body">
                                                            <h4 class="card-title py-2" id="contato1Title">
                                                                <a></a></h4>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                        <label for="nomeContato1">Nome *</label>
                                                                        <input class="form-control"
                                                                               id="nomeContato1"
                                                                               required
                                                                               name="contatos[contato1][nomeContato]"
                                                                               type="text">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                        <label for="cargoContato1">Cargo
                                                                            *</label>
                                                                        <input class="form-control"
                                                                               id="cargoContato1"
                                                                               required
                                                                               name="contatos[contato1][cargoContato]"
                                                                               type="text">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                        <label for="telefoneContato1">Telefone
                                                                            *</label>
                                                                        <input class="form-control"
                                                                               id="telefoneContato1"
                                                                               required
                                                                               name="contatos[contato1][telefoneContato]"
                                                                               type="text">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                        <label for="turnoContato1">Turno
                                                                            *</label>
                                                                        <input class="form-control"
                                                                               id="turnoContato1"
                                                                               required
                                                                               name="contatos[contato1][turnoContato]"
                                                                               type="text">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <div class="md-form">
                                                                <textarea class="md-textarea form-control"
                                                                          id="horarioContato1"
                                                                          name="contatos[contato1][horarioContato]"
                                                                          required
                                                                          rows="3"></textarea>
                                                                        <label for="horarioContato1">Horário
                                                                            *</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="roteiro" role="tabpanel">

                                    <p class="h4 pb-4">Roteiro de Plantão
                                        <button type="button" onclick="adicionarRoteiro()"
                                                class="btn btn btn-link btn-success btn-sm p-2">+
                                            Adicionar
                                        </button>

                                    <div class="row pb-4">
                                        <div class="col-12">
                                            <div class="card-deck" id="roteiros">
                                                <div class="card col-md-4 componente" id="roteiro1">
                                                    <a class="btn-floating btn-action mdb-color btn-danger"><i
                                                            class="fas fa-times"></i></a>
                                                    <div class="card-body">
                                                        <h4 class="card-title py-2" id="roteiro1Title"><a></a>
                                                        </h4>
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <div class="md-form">
                                                                    <label for="nomeRoteiro1">Nome</label>
                                                                    <input class="form-control"
                                                                           id="nomeRoteiro1"
                                                                           name="roteiros[roteiro1][nomeRoteiro]"
                                                                           type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <div class="md-form">
                                                                    <textarea class="md-textarea form-control"
                                                                              id="descricaoRoteiro1"
                                                                              name="roteiros[roteiro1][descricaoRoteiro]"
                                                                              rows="3"></textarea>
                                                                    <label for="descricaoRoteiro1">Descrição</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <div class="md-form">
                                                                    <textarea class="md-textarea form-control"
                                                                              id="problemaRoteiro1"
                                                                              name="roteiros[roteiro1][problemaRoteiro]"
                                                                              rows="3"></textarea>
                                                                    <label for="problemaRoteiro1">Problema</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <div class="md-form">
                                                                    <textarea class="md-textarea form-control"
                                                                              id="solucaoRoteiro1"
                                                                              name="roteiros[roteiro1][solucaoRoteiro]"
                                                                              rows="3"></textarea>
                                                                    <label for="solucaoRoteiro1">Solução</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <div class="md-form">
                                                                    <label for="gravidadeRoteiro1">Gravidade</label>
                                                                    <input class="form-control"
                                                                           id="gravidadeRoteiro1"
                                                                           name="roteiros[roteiro1][gravidadeRoteiro]"
                                                                           type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <div class="md-form">
                                                                    <label for="responsavelRoteiro1">Responsável</label>
                                                                    <input class="form-control"
                                                                           id="responsavelRoteiro1"
                                                                           name="roteiros[roteiro1][responsavelRoteiro]"
                                                                           type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="faq" role="tabpanel">

                                    <p class="h4 pb-4">FAQ
                                        <button type="button" onclick="adicionarFAQ()"
                                                class="btn btn btn-link btn-success btn-sm p-2">+
                                            Adicionar
                                        </button>
                                    </p>

                                    <div class="row pb-4">
                                        <div class="col-12">
                                            <div class="card-deck" id="faqs">
                                                <div class="card col-md-4 componente" id="faq1">
                                                    <a class="btn-floating btn-action mdb-color btn-danger"><i
                                                            class="fas fa-times"></i></a>
                                                    <div class="card-body">
                                                        <h4 class="card-title py-2" id="faq1Title"><a></a></h4>
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <div class="md-form">
                                                                        <textarea class="md-textarea form-control"
                                                                                  id="perguntaFAQ1"
                                                                                  name="faqs[faq1][perguntaFAQ]"
                                                                                  rows="3"></textarea>
                                                                    <label for="perguntaFAQ1">Pergunta</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <div class="md-form">
                                                                        <textarea class="md-textarea form-control"
                                                                                  id="respostaFAQ1"
                                                                                  name="faqs[faq1][respostaFAQ]"
                                                                                  rows="3"></textarea>
                                                                    <label for="respostaFAQ1">Resposta</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <div class="md-form">
                                                                    <label for="nomeFAQ1">Autor</label>
                                                                    <input class="form-control" id="nomeFAQ1"
                                                                           name="faqs[faq1][nomeFAQ]"
                                                                           type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <button type="submit" class="btn btn-success">Salvar</button>

                        </form>

                    </div>


                </div>

            </div>

        </section>

    </div>

</main>

{{> footer }}